{% if site.locale and site.locale != "" and site.locale != nil %}
  {% assign header_data = site.data.sitetext[site.locale].header %}
{% else %}
  {% assign header_data = site.data.sitetext.header %}
{% endif %}

<header class="masthead">
  <div class="container">
    <div class="intro-text">
    {%- if header_data.title -%}
      <div class="intro-lead-in">{{ header_data.title | markdownify }}</div>
    {%- endif -%}
    {%- if header_data.text -%}
      <div class="intro-heading text-uppercase">{{ header_data.text | markdownify }}</div>
    {%- endif -%}
    {%- if header_data.button -%}
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ header_data.buttonlink }}">{{ header_data.button }}</a>
    {%- endif -%}
    </div>
  </div>
</header>