{% assign filter = page.title | downcase %}
{% assign posts = site.resources | where_exp: "resource", "resource.categories contains filter" %}

<script>
    window.cardData = {{ posts | jsonify }};
    window.defaultFilter = 'all';

    function renderGrid(data, container) {
        renderGridShared(data, container, {
            border: false,
            externalLinks: true,
            stretchedLink: true,
            getImageUrl: (item) => item.image,
            getLinkUrl: (item) => item.link,
            getDescription: (item) => item.subtitle,
            mutedDescription: true,
            viewDetailsText: {{ site.data.sitetext[site.locale].collection_ui.view_details | default: "View Details" | jsonify }}
        });
    }
</script>

{% include render_grid_script.html %}

{% assign all_tags = "" | split: "," %}
{% for post in posts %}
  {% if post.tags %}
    {% for tag in post.tags %}
      {% unless all_tags contains tag %}
        {% assign all_tags = all_tags | push: tag %}
      {% endunless %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% assign sorted_tags = all_tags | sort %}

{% include grid_controls.html id="resources" filter_options=sorted_tags %}

<div class="row" id="resources-container" role="list">
    <!-- Cards will be dynamically populated here -->
</div>

{% include grid_script.html id="resources" data_var="cardData" %}
