<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head.html %}

  <body id="page-top">

      {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="/assets/js/jquery.min.js"></script>
	  <script src="/assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="/assets/js/jquery.easing.min.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="/assets/js/agency.min.js"></script> 

      <!-- Event snippet for Submit lead form conversion page --> 
      <script>
	  ['sendMessageButtonFoot', 'sendMessageButtonMc', 'paypalDonate'].forEach(function(id) {
	    const btn = document.getElementById(id);
	    if (btn) {
	      btn.addEventListener('click', function() {
	        gtag('event', 'conversion', {'send_to': "{{ site.ads.google }}/oNtiCNf78sAaEJfMq48_"});
	      });
	    }
	  });
	  </script>

	
	<script>
		if (document.getElementById("turnstile-container")) {
			const footButton = document.getElementById("sendMessageButtonFoot");
			if (footButton) footButton.disabled = true;
			const widgetId = turnstile.render("#turnstile-container", {
				sitekey: "{{ site.turnstile_sitekey }}",
				callback: function (token) {
					console.log("Success:", token);
					if (footButton) footButton.disabled = false;
				},
			});
		}

		if (document.getElementById("turnstile-container-mc")) {
			const mcButton = document.getElementById("sendMessageButtonMc");
			if (mcButton) mcButton.disabled = true;
			const widgetIdMc = turnstile.render("#turnstile-container-mc", {
				sitekey: "{{ site.turnstile_sitekey_mc }}",
				callback: function (token) {
					console.log("Success:", token);
					if (mcButton) mcButton.disabled = false;
				},
			});
		}
	</script>

  </body>
</html>
